* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

/*
	SOME RANDOM HEIGHTS
*/

.mega-height {
	height: 200%;
}

.normal-height {
	height: 50%;
}

.mini-height {
	height: 300px;
	position: relative;	
}

.nano-height {
	height: 60px;
	position: relative;
}

.absolute {
	position: absolute;	
	top: 30px;	
	right: 30px;
	bottom: 30px;	
	width: 100px;
	background-color: green;
	-webkit-transition: right .2s ease-out;
	-o-transition: right .2s ease-out;
	transition: right .2s ease-out;
}

.absolute-triggered {
	right: 200px;
}

/*
	SOME RANDOM COLORS
*/

.cornflowerblue { background-color: cornflowerblue; }
.red { background-color: red; }
.darkgreen { background-color: darkgreen; }
.deeppink { background-color: deeppink; }
.linen { background-color: linen; }
.cyan { background-color: cyan; }
.yellow { background-color: yellow; }
