* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

/*
	SOME RANDOM HEIGHTS
*/

.mega-height {
	height: 200%;
}

.normal-height {
	height: 50%;
}

.mini-height {
	height: 300px;
	position: relative;	
}

.absolute {
	position: absolute;	
	top: 30px;	
	right: 30px;
	bottom: 30px;	
	width: 100px;
	background-color: green;
	-webkit-transition: right .2s ease-out;
	-o-transition: right .2s ease-out;
	transition: right .2s ease-out;
}

.absolute-triggered {
	right: 200px;
}

/*
	SOME RANDOM COLORS
*/

.blue {
	background-color: #4E8EAD;
}
.red {
	background-color: #B34848;
}
.green {
	background-color: #3D6D43;
}
